<div class="page text-center"> 
		<header class="page-header slider-menu-position">		 
			<div class="rd-navbar-wrap">
			<nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-transparent rd-navbar-dark-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
			<div class="rd-navbar-inner">	 
			<div class="rd-navbar-panel">		 
			<button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
			<div class="rd-navbar-brand veil reveal-md-block">
				<a href="index.html" class="brand-name">
					<%= image_tag("logobarcelonacity.png", :alt => "") %>
				</a>
			</div>		 
			<div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block"><a href="index.html" class="brand-name">
			<%= image_tag("logobarcelonacity.png", :alt => "place1") %></a></div>
			</div>
			<div class="rd-navbar-nav-wrap">		 
			<ul class="rd-navbar-nav">
			<li class="active"><a href="index.html">Home</a></li>
			<li><a href="#">Hotels</a>		 
				<ul class="rd-navbar-dropdown">
					<li><a href="#">City Tours</a></li>
					<li><a href="#">Fitness Tours</a></li>
					<li><a href="#">Tours List</a></li>
					<li><a href="#">Tours Single</a></li>
				</ul>
			</li>
			<li><a href="#">Events</a>	 
			<ul class="rd-navbar-dropdown">
				<li><a href="#">Event 0</a></li>
				<li><a href="#">Event 1</a></li>
				<li><a href="#">Event 2</a></li>
				<li><a href="#">Event 3</a></li>
			</ul>
			</li>
			<li><a href="#">Places</a> 
			<div class="rd-navbar-megamenu">
			<div class="row">
			<div class="col-md-4">
			<p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 1</p>
			<ul class="offset-md-top-20">
				<li><a href="#">Press</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Destinations</a></li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Sign Up v2</a></li>
			</ul>
			</div>
			<div class="col-md-4">
				<p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 2</p>
				<ul class="offset-md-top-20">
					<li><a href="#">Login</a></li>
					<li><a href="#">Forgot Password</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms Of Use</a></li>
					<li><a href="#">Sitemap</a></li>
					<li><a href="#">Search Results</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 3</p>
				<ul class="offset-md-top-20">
					<li><a href="404.html">404</a></li>
					<li><a href="503.html">503</a></li>
					<li><a href="comingsoon.html">Coming Soon</a></li>
					<li><a href="manitenance.html">Maintenance</a></li>
					<li><a href="underconsruction.html">Under Construction</a></li>
				</ul>
			</div>
			</div>
			</div>
			</li>
			<li><a href="gallery-cobbles.html">Gallery</a>	 
			<ul class="rd-navbar-dropdown">
				<li><a href="gallery-cobbles.html">Gallery Cobbles</a></li>
				<li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
				<li><a href="gallery-grid.html">Gallery Grid</a></li>
				<li><a href="gallery-masonry.html">Gallery Masonry</a></li>
			</ul>
			</li>
			<li><a href="blog-grid.html">Blog</a> 
			<ul class="rd-navbar-dropdown">
				<li><a href="blog-grid.html">Blog Grid</a></li>
				<li><a href="blog-grid-sidebar-left.html">Blog Grid Sidebar</a></li>
				<li><a href="blog-list.html">Blog List</a></li>
				<li><a href="blog-list-sidebar-left.html">Blog List Sidebar</a></li>
				<li><a href="blog-list-variant-2.html">Blog List v2</a></li>
				<li><a href="blog-list-variant-2-sidebar-left.html">Blog List v2 Sidebar</a></li>
				<li><a href="blog-masonry.html">Blog Masonry</a></li>
				<li><a href="blog-modern.html">Blog Modern</a></li>
				<li><a href="blog-single-post.html">Blog Single Post</a></li>
				<li><a href="blog-single-post-sidebar-left.html">Blog Single Post Sidebar</a></li>
			</ul>
			</li>
			<li><a href="contacts.html">Contact</a>		 
			<ul class="rd-navbar-dropdown">
				<li><a href="contacts.html">Contacts</a></li>
				<li><a href="contacts-variant-2.html">Contacts v2</a></li>
			</ul>
			</li>
			</ul>
			</div>
			</div>
			</nav>
			</div>	 
			<div data-height="" data-min-height="400px" data-simulate-touch="false" data-slide-effect="fade" class="swiper-container swiper-slider">
			<div class="swiper-wrapper">
				<div data-slide-bg="<%= asset_path 'background3.jpg'%>" class="swiper-slide"></div>
				<div data-slide-bg="<%= asset_path 'background2.jpg'%>" class="swiper-slide"></div>
				<div data-slide-bg="<%= asset_path 'background1.jpg'%>" class="swiper-slide"></div>
			</div>
			<div class="swiper-caption-absolute">
			<div class="shell">
			<div class="range range-xs-center">
			<div class="cell-lg-10">
			<div>
				<h1 class="text-white">Enjoy Barcelona City</h1>
			</div>
			<div class="offset-top-8">
			<p class="h6 text-white">The city of Gaudy, hearth of Catalonia.</p>
			</div>
			<div class="offset-top-30 offset-md-top-60 inset-left-20 inset-right-20 inset-sm-left-0 inset-sm-right-0">	 
				<form class="rd-mailform form-inline-search">
					<div class="form-group form-group-xs form-inline-item">
						<label for="index-destination" class="form-label">Your Destination</label>
						<input id="index-destination" type="text" name="destination" class="form-control">
					</div>
					<div class="form-group form-group-xs form-inline-item form-inline-item-xs">
					<label for="index-arrival" class="form-label">Arrival</label>
					<input id="index-arrival" type="text" name="destination" class="form-control">
					</div>
					<div class="form-group form-group-xs form-inline-item form-inline-item-xs">
					<label for="index-departure" class="form-label">Departure</label>
					<input id="index-departure" type="text" name="departure" class="form-control">
					</div>
					<div class="form-group form-group-xs form-inline-item">
					<label for="index-budget" class="form-label">Your Budget ($)</label>
					<input id="index-budget" type="text" name="budget" class="form-control">
					</div>
					<div class="form-inline-item offset-top-15 offset-sm-top-0">
					<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
			</div>
			</div>
			</div>
			</div> 
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev">
				<span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-left text-gray"></span></div>
			<div class="swiper-button-next">
				<span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-right text-gray"></span></div>
			</div>
		</header> 
		<main class="page-content"> 
		<section class="section-80 section-md-top-70 bg-wild-wand">
			<div class="shell">
			<div>
				<h3>Places to visit</h3>
			</div>
			<div class="offset-top-10">
				<p>Discover the hidden treasures of the city</p>
			</div>
			<div class="range range-xs-center offset-top-45">
			<div class="cell-sm-5 cell-md-4">
			<div data-wow-delay=".2s" class="box-offer wow fadeInLeft">
			<div class="box-offer-img-wrap"><a href="#"><%= image_tag("places1.jpg", :alt => "place1", :class => "img-responsive center-block") %>
</a></div>
			<div class="box-offer-caption text-left">
			<div class="pull-left">
				<div class="box-offer-title text-ubold"><a href="#" class="text-gray-base">City Sports</a></div>
			</div>
			<div class="pull-right">
				<div class="box-offer-price text-gray-base">$10</div>
			</div>
			<div class="clearfix"></div>
			<div class="offset-top-8 offset-xs-top-0"> 
				<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
					<li>Healthy enjoy </li>
					<li>All days</li>
				</ul>
			</div>
			</div>
			</div>
			</div>
			<div class="cell-sm-5 cell-md-4 offset-top-30 offset-sm-top-0"> 
			<div data-wow-delay=".2s" class="box-offer wow bounceIn">
				<div class="box-offer-img-wrap"><a href=""><%= image_tag("places2.jpg", :alt => "place2", :class => "img-responsive center-block") %></a></div>
				<div class="box-offer-caption text-left">
					<div class="pull-left">
						<div class="box-offer-title text-ubold"><a href="" class="text-gray-base">Gaudi Gardens</a></div>
					</div>
					<div class="pull-right">
						<div class="box-offer-price text-gray-base">$30$</div>
					</div>
					<div class="clearfix"></div>
					<div class="offset-top-8 offset-xs-top-0">
						<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
							<li>Nature and arquitectural</li>
							<li>3 hours</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="cell-sm-5 cell-md-4 offset-top-30 offset-md-top-0"> 
			<div data-wow-delay=".2s" class="box-offer wow fadeInRight">
			<div class="box-offer-img-wrap"><a href="#"><%= image_tag("places3.jpg", :alt => "place1", :class => "img-responsive center-block") %></a></div>
			<div class="box-offer-caption text-left">
			<div class="pull-left">
			<div class="box-offer-title text-ubold">
				<a href="tours-single.html" class="text-gray-base">Spain Square</a></div>
			</div>
			<div class="pull-right">
				<div class="box-offer-price text-gray-base">$10</div>
			</div>
			<div class="clearfix"></div>
			<div class="offset-top-8 offset-xs-top-0">
				<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
					<li>City fair and former bullfigther hall</li>
					<li>3-5 hours</li>
				</ul>
			</div>
			</div>
			</div>
			</div>
			<div class="cell-sm-5 cell-md-4 offset-top-30">
			<div data-wow-delay=".2s" class="box-offer wow fadeInLeft">
			<div class="box-offer-img-wrap"><a href="tours-single.html"><%= image_tag("places4.jpg", :alt => "place1", :class => "img-responsive center-block") %></a></div>
			<div class="box-offer-caption text-left">
			<div class="pull-left">
			<div class="box-offer-title text-ubold"><a href="#" class="text-gray-base">Landscape views</a></div>
			</div>
			<div class="pull-right">
			<div class="box-offer-price text-gray-base">$25</div>
			</div>
			<div class="clearfix"></div>
			<div class="offset-top-8 offset-xs-top-0"> 
				<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
					<li>Wath the city from city hills</li>
					<li>Monday to Friday</li>
				</ul>
			</div>
			</div>
			</div>
			</div>
			<div class="cell-sm-5 cell-md-4 offset-top-30"> 
			<div data-wow-delay=".2s" class="box-offer wow bounceIn">
			<div class="box-offer-img-wrap"><a href="#"><%= image_tag("places5.jpg", :alt => "place1", :class => "img-responsive center-block") %></a></div>
			<div class="box-offer-caption text-left">
			<div class="pull-left">
			<div class="box-offer-title text-ubold"><a href="tours-single.html" class="text-gray-base">Sacred Family</a></div>
			</div>
			<div class="pull-right">
				<div class="box-offer-price text-gray-base">$10</div>
			</div>
			<div class="clearfix"></div>
			<div class="offset-top-8 offset-xs-top-0">
				<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
					<li>Gaudy Cathedral</li>
					<li>All days open</li>
				</ul>
			</div>
			</div>
			</div>
			</div>
			<div class="cell-sm-5 cell-md-4 offset-top-30"> 
			<div data-wow-delay=".2s" class="box-offer wow fadeInRight">
				<div class="box-offer-img-wrap">
					<a href="#">
						<%= image_tag("places1.jpg", :alt => "place1", :class => "img-responsive center-block") %>
					</a>
				</div>
				<div class="box-offer-caption text-left">
				<div class="pull-left">
				<div class="box-offer-title text-ubold">
					<a href="tours-single.html" class="text-gray-base">Pirines Mountains</a>
				</div>
				</div>
				<div class="pull-right">
					<div class="box-offer-price text-gray-base">$200</div>
				</div>
				<div class="clearfix"></div>
				<div class="offset-top-8 offset-xs-top-0"> 
				<ul class="list-inline list-inline-13 list-inline-marked text-silver-chalice text-small">
					<li>Winter sports</li>
					<li>2 days</li>
				</ul>
				</div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</section>
		<section data-wow-delay=".2s" class="wow fadeIn"> 
			<div data-on="false" data-md-on="true" class="rd-parallax">
			<div data-speed="0.25" data-type="media" data-url="<%= asset_path 'background4.jpg' %>" class="rd-parallax-layer"></div>
			<div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
			<div class="bg-overlay-inverse-md-darker">
			<div class="shell section-80 section-md-top-70">
				<h3 class="text-white">What is going on?</h3>
			<div class="range range-xs-center range-md-left text-xs-left offset-top-35">
			<div class="cell-sm-6 cell-md-4">		 
				<div class="box box-sm bg-white reveal-lg-block">
					<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
					<div class="unit-left">
						<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><%= image_tag("icon-11-20x18.png", :alt => "", :class => "img-responsive center-block") %></div>
					</div>
					<div class="unit-body offset-top-4 offset-xs-top-0">
						<div>
							<p class="text-small text-gray-base text-uppercase text-ubold">Footbal matches</p>
						</div>
						<div class="offset-top-4">
							<p class="text-small text-silver-chalice">We can provide up to 3 experienced travel specialists who fit best for your trip.</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0">
			<div class="box box-sm bg-white reveal-lg-block">
			<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
			<div class="unit-left">
			<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><%= image_tag("icon-06-14x21.png", :alt => "", :class => "img-responsive center-block") %></div>
			</div>
			<div class="unit-body offset-top-4 offset-xs-top-0">
			<div>
				<p class="text-small text-gray-base text-uppercase text-ubold">Theathe and varities</p>
			</div>
			<div class="offset-top-4">
				<p class="text-small text-silver-chalice">With SunTravel, you’ll find a perfect destination among hundreds available.
				</p>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0">
				<div class="box box-sm bg-white reveal-lg-block">
					<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
						<div class="unit-left">
							<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><%= image_tag("icon-07-21x18.png", :alt => "", :class => "img-responsive center-block") %></div>
						</div>
						<div class="unit-body offset-top-4 offset-xs-top-0">
							<div>
								<p class="text-small text-gray-base text-uppercase text-ubold">monuments</p>
							</div>
							<div class="offset-top-4">
								<p class="text-small text-silver-chalice">Our high level of service is officially recognized by thousands of clients.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell-sm-6 cell-md-4 offset-top-30"> 
				<div class="box box-sm bg-white reveal-lg-block">
				<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
				<div class="unit-left">
				<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block"><%= image_tag("icon-08-17x19.png", :alt => "", :class => "img-responsive center-block") %></div>
				</div>
				<div class="unit-body offset-top-4 offset-xs-top-0">
				<div>
					<p class="text-small text-gray-base text-uppercase text-ubold">Other Sports</p>
				</div>
				<div class="offset-top-4">
					<p class="text-small text-silver-chalice">Our travel agents are always there to support you during your trip.</p>
				</div>
				</div>
				</div>
				</div>
			</div>
			<div class="cell-sm-6 cell-md-4 offset-top-30"> 
				<div class="box box-sm bg-white reveal-lg-block">
				<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
					<div class="unit-left">
						<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block">
							<%= image_tag("icon-09-20x20.png", :alt => "", :class => "img-responsive center-block") %>
						</div>
					</div>
					<div class="unit-body offset-top-4 offset-xs-top-0">
						<div>
							<p class="text-small text-gray-base text-uppercase text-ubold">Cultural activities</p>
						</div>
						<div class="offset-top-4">
							<p class="text-small text-silver-chalice">We pick the hotels with the utmost reputation and positive reviews.</p>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="cell-sm-6 cell-md-4 offset-top-30">	 
				<div class="box box-sm bg-white reveal-lg-block">
					<div class="unit unit-xs unit-xs-horizontal unit-spacing-sm">
						<div class="unit-left">
						<div class="icon-circle icon-circle-lg icon-filled-turquoise center-block">
							<%= image_tag("icon-10-25x24.png", :alt => "", :class => "img-responsive center-block") %></div>
						</div>
						<div class="unit-body offset-top-4 offset-xs-top-0">
							<div>
								<p class="text-small text-gray-base text-uppercase text-ubold">Meetups</p>
							</div>
							<div class="offset-top-4">
								<p class="text-small text-silver-chalice">We guarantee you’ll get top-notch comfort at an affordable price.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
		</section>
		<section class="section-bottom-50 section-md-bottom-80">
			<div class="shell">
			<h3 class="text-center text-md-left">We are always ready to help you</h3>
			<div class="range offset-top-30">
			<div class="cell-md-8"> 
			<form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
			<div class="range">
			<div class="cell-xs-12">
			<div class="form-group">
				<label for="contact-name" class="form-label">Your e-mail *</label>
				<input id="contact-name" type="text" name="name" data-constraints="@Required @Email" class="form-control">
			</div>
			</div>
			<div class="cell-md-6">
			<div class="form-group">
			<label for="contact-email" class="form-label">Your e-mail *</label>
			<input id="contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
			</div>
			</div>
			<div class="cell-md-6">
			<div class="form-group">
				<label for="contact-phone" class="form-label">Your phone number *</label>
				<input id="contact-phone" type="text" name="phone" data-constraints="@Required @Numeric" class="form-control">
			</div>
			</div>
			<div class="cell-xs-12">
			<div class="form-group">
			<label for="contact-message" class="form-label">Your message *</label>
			<textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
			</div>
			</div>
			</div>
			<div class="btn-wr">
			<div class="cell-xs-12">
			<div class="range range-xs-reverse range-xs-middle range-xs-right text-center"><span id= "require-field" class="h5 reveal-block reveal-xs-inline preffix-1">required fields*</span>
			<button class="btn btn-primary btn-rect">Send message</button>
			</div>
			</div>
			</div>
			</form>
			</div>
			<div class="cell-md-4 offset-top-50 offset-md-top-0">	 
			<div class="rd-google-map-wrap round">
				<div class="rd-google-map">
					<div id="rd-google-map" data-zoom="14" data-x="-73.9874068" data-y="40.643180" data-styles="" class="rd-google-map__model"></div>
					<ul class="map_locations">
						<li data-x="-73.9874068" data-y="40.643180">
							<p>9870 St Vincent Place, San Francisco, DC 45 Fr 45.<span>800 2345-6789</span></p>
						</li>
					</ul>
				</div>
			</div>
			</div>
			</div>
			</div>
		</section>
		<section class="bg-image-aside-2">
			<div class="shell">
				<div class="range range-condensed">
				<div class="cell-sm-6"><a href="#" class="banner facebook-banner">
					<span class="icon icon-white icon-sm fa-facebook"></span>Follow us on Facebook</a>
				</div>
				<div class="cell-sm-6"><a href="#" class="banner twitter-banner"><span class="icon icon-white icon-sm fa-twitter"></span>Follow us on Twitter</a></div>
				</div>
			</div>
		</section>
		</main>
		<footer class="page-foot text-sm-left section-50 section-md-60">
			<div class="container">
			<div class="row">
			<div class="col-sm-12 col-md-4 text-center text-md-left">
				<%= image_tag("logobarcelonacity.png", :alt => "", :class => "img-responsive center-block") %>
				</div>
			<div class="col-sm-3 col-sm-offset-1 col-md-offset-0 offset-top-50 offset-sm-top-30 offset-md-top-0">
			<ul class="list">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Hotels</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			</div>
			<div class="col-sm-3 col-md-2 offset-top-50 offset-sm-top-30 offset-md-top-0">
			<ul class="list">
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">RSS</a></li>
			</ul>
			</div>
			<div class="col-sm-5 col-md-3 offset-top-50 offset-sm-top-30 offset-md-top-0">
			<address class="contact-info">
			<p>CTO up Inc.<br>xxxx St Vincent Place,<br>San Francisco, DC 45 Fr 45.</p>
			<dl>
			<dt class="text-regular">Telephone:</dt>
			<dd><a href="callto:#">+1 xxx xxx xxx</a></dd>
			<dt class="text-regular">FAX:</dt>
			<dd><a href="callto:#">+1 xxx xxx xxx</a></dd>
			<dt class="text-regular">E-mail:</dt>
			<dd><a href="mailto:#">us@barcelonacity.com</a></dd>
			</dl>
			</address>
			</div>
			</div>
			<p class="copyright text-center text-md-left">Copyright &nbsp;<span id="copyright-year"></span>&nbsp; &#169;
			&nbsp; CTO up. All rights reserved.<br><a href="#">Terms of use &nbsp;</a>| &nbsp;<a href="#
			">Privacy Policy</a>	 
			</p>
			</div>
		</footer>
		<script src="<%= asset_path 'core.min.js'%>"></script>
		<script src="<%= asset_path 'script.js'%>"></script>