footer {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #000000;
	background-image: none;
	background-origin: padding-box;
	background-position-x: 0%;
	background-position-y: 0%;

background-size:
auto
;
box-sizing:
border-box
;
color:rgb(255, 255, 255)
;
display:
block
;
font-family:
Roboto, Helvetica, Arial, sans-serif
;
font-size:
16px
;
height:
372.5px
;
line-height:
25px
;
padding-bottom:
60px
;
padding-top:
60px
;
text-align:
left
;
text-size-adjust:
100%
;
width:
1268px
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
}
.banner.facebook-banner {
    background: #3b5998;
    color: #fff;
}
html .page a {
    transition: .3s;
}
.banner {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 500;
    vertical-align: middle;
}
.banner > .icon {
    margin-right: 35px;
}
.banner > .icon {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.icon-sm {
    font-size: 40px;
    line-height: 1;
}
.icon-white {
    color: #fff;
}
.range > .cell-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}
.range > [class*='cell'] {
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}
condensed > [class*='cell'] {
    padding-left: 0;
    padding-right: 0;
}
.range {
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    display: flex;
    -ms-flex: 0 1 auto;
    /* -webkit-flex: 0 1 auto; */
    flex: 0 1 auto;
    /* -webkit-flex-direction: row; */
    -ms-flex-direction: row;
    flex-direction: row;
    /* -webkit-flex-wrap: wrap; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.shell, .shell-wide {
    max-width: 1200px;
    min-width:300px;
}
.icon-sm {
    font-size: 40px;
    line-height: 1;
}
.banner > .icon {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.bg-image-aside-2 {
    position: relative;
}
.icon-white {
    color: #fff;
}
[class*='fa-']:before {
    font-weight: 400;
    font-family: 'FontAwesome';
}
.fa-twitter:before {
    content: "\f099";
}
.banner > .icon {
    margin-right: 35px;
}
.banner.twitter-banner {
    background: #55acee;
    color: #fff;
}
.banner.twitter-banner:hover {
    background: #2795e9;
    color: #fff;
}
.banner.facebook-banner:hover {
    background: #2d4373;
    color: #fff;
}
.section-md-bottom-80 {
    padding-bottom: 80px;
    padding-top:80px;
    background-color: #f2f1f1;
}
.form-label {
    position: absolute;
    top: 28px;
    left: 20px;
    font-size: 20px;
    color: #999;
    pointer-events: none;
    z-index: 9;
    transition: .3s;
    transform: translateY(-50%);
}
.has-error .form-control:not(.form-control-impressed), .has-error .form-control:not(.form-control-impressed):focus {
    border-color: #a94442;
    box-shadow: none;
}
.has-error .form-validation {
    color: #a94442;
}
input.form-control {
    height: 60px;
    padding: 6px 15px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 3px;
    border-color: #a94442;
}
.form-group {
    margin-bottom: 15px;
}
.preffix-1 {
    margin-left: 25px;
}
h5, .h5, #require-field {
    line-height: 1.5;
    font-size: 20px;
    margin-top: 10px;
}
.rd-mailform .btn-wr span {
    margin-bottom: 8px;
}
.page-foot .list li + li {
    margin-top: 0;
}
.page-foot .list li > a:hover, .page-foot .list li > a:active {
    color: #d9011d;
    text-decoration: none;
}