<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Barcelona City - Discover the city of Barcelona, a jewel of Spain.</title>
    <link rel="stylesheet" type="text/css" href="<%= asset_path 'end.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= asset_path 'first.css'%>">
    
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i">
	
	<!--[if lt IE 10]>
	    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
	    <script src="js/html5shiv.min.js"></script>
			<![endif]-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
